.Beer {
    width: 410px;
    border: 1px solid black;
    min-height: 320px;
    margin: 15px;
    padding: 15px;
}
.Beer img {
    width: 150px;
    height: 300px;
    float: left;
    padding: 10px;
}